@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Architects+Daughter|Mitr&display=swap');

.bg-background {
    background: #DDA15E !important;
}

/* Make all headings use a special font and be bold */
h1 {
    font-family: 'Permanent Marker' !important;
    color: #283618 !important;  /* Dark Green */
}

h2, h3, h4, h5, h6 {
    font-family: 'Architects Daughter' !important;
    color: #606C38 !important;  /* Light Green */
}

#text {
    font-family: 'Mitr' !important;
    font-weight: 200;
    color: #2d2d27 !important;
}

header, footer, aside {
    background: #DDA15E;
}

/* The sidebar... */
aside {
    font-family: 'Mitr' !important;
    font-size: smaller;
    color: #321904;
}

main {
    background: #FEFAE0 !important;
}
