@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Architects+Daughter|Mitr&display=swap');

/* Change the background color of the whole site */
.bg-background {
    background: #e0e4fe !important;
}

/* Make all headings use a special font and be bold */
h1 {
    font-family: 'Permanent Marker' !important;
    color: #283618 !important;  /* Dark Green */
}

h2, h3, h4, h5, h6 {
    font-family: 'Architects Daughter' !important;
    color: #606C38 !important;  /* Light Green */
}

body {
    font-family: 'Mitr' !important;
    color: #2d2d27 !important;
}

div.relative {
    background: #FEFAE0 !important;
}
